[Desktop Entry] 
Name=Komunitin Lite 
Comment=Basic python GTK3 client for komunitin user. 
Exec=komunitin_lite 
Terminal=false 
Type=Application 
Icon=komunitin_icon.svg 
Categories=GNOME;GTK;Utility; 
StartupNotify=false 
